.link {

    margin: 10px;
    cursor: pointer;
    list-style: none;

}

.link:hover {
    color: purple;
    text-decoration: underline;
}

.nav {
    display: flex;
    justify-content: space-evenly;

}
